@import '~grommet/scss/vanilla/index';

.#{$grommet-namespace}sidebar {
  @include media-query(lap-and-up) {
    @include animation('slide-sidebar 0.4s');
  }
}

@include keyframes(slide-sidebar) {
  0% {
    width: 0;
  }

  100% {
    width: 240px;
  }
}